<div ng-init="lc.getAllLists()">
    <div class="heading">
      <h1>Make a List!</h1>
      <div class="form create" data-sh-form button-command="Create List" borrow="lc.createList(list)" list="list">
    </div>
    </div>
    <div class="heading" >
      <h3>All Lists</h3>

    <div class="listing" data-ng-repeat="list in lc.lists">
      <a role="button" class="fa fa-times corner" ng-click="lc.deleteList(list)"></a>
        <span>
          <div class="form" data-sh-form ng-if="list.edit" button-command=" Save" borrow="lc.updateList(list)" list="list">
          </div>
          <h4 ng-if="!list.edit">
            {{list.name}}
            <a role="button" class="fa fa-pencil edit" ng-click="list.edit = true" ng-if="!list.edit"> Edit List</a>
          </h4>
        </span>



        <div class="listing" data-ng-repeat="note in list.notes">
          <h6>{{note.name}}</h6>
          
        </div>

      </div>

    </div>
</div>
