<div ng-init="$ctrl.getLists()">

  <na-sign-up></na-sign-up>
  <na-sign-in></na-sign-in>

  <h1>{{$ctrl.appName}}</h1>

  <form class="form-inline novalidate"
    ng-submit="$ctrl.createList(list)">

    <div class="form-group">
      <label for="name">Create List</label>
      <input type="text" name="name" ng-model="list.name" required>
    </div>
    <button class="btn btn-default" type="submit">+</button>
  </form>

  <hr />

  <div class="list-group">
    <na-list class="list-group-item" ng-repeat="list in $ctrl.lists" list="list"></na-list>
  </div>
</div>
