<div ng-init="listCtrl.getAllLists()">

  <label for="create-list-form"><h3>Create A Note List</h3></label>
  <na-list-form
  name="create-list-form"
  button-text="Create List"
  save="listCtrl.createList(list)">
  </na-list-form>

  <h3>Lists</h3>
  <ul>
    <li ng-repeat="list in listCtrl.lists">

      <span ng-if="!list.editing">
        {{list.name}}
        <button class="btn btn-default" ng-click="listCtrl.deleteList(list)">x</button>
        <button class="btn btn-default" ng-click="list.editing = true">Edit</button>
      </span>

      <na-list-form
      save="listCtrl.updateList(list)"
      list="list"
      button-text="Update List"
      ng-if="list.editing">
        <button class="btn btn-default" ng-click="list.editing = false">Cancel</button>
      </na-list-form>

    </li>
  </ul>
</div>
