<form class="form inline" novalidate ng-submit="noteFormCtrl.saveAndNull(noteFormCtrl.note)">
  <div class="form-group">
    <h4>Create new Note for this list:</h4>
    <label for="name">Name: </label>
    <input type="text" name="name" ng-model="noteFormCtrl.note.name">
    <label for="content">Content: </label>
    <input type="text" name="content" ng-model="noteFormCtrl.note.content">
    <button type="submit" class="btn btn-default">Create Note</button>
  </div>
  <data-ng-transclude></data-ng-transclude>
</form>