<div ng-init="listCtrl.getAllLists()">
  <kb-list-form button-text="Create List" save="listCtrl.createList(list)">
  </kb-list-form>
  <h1>Note Lists:</h1>
  <ul>
    <li ng-repeat-"list in listCtrl.lists">
      <h3>{{list.name}}</h3>
      <kb-list-item list="list"></kb-list-item>
      <span ng-if="!list.editing">
        <button class="btn btn-default" ng-click="listCtrl.deleteList(list)">Delete List</button>
        <button class="btn btn-default" ng-click="list.editing = true">Edit</button>
      </span>
      <kb-list-form save="listCtrl.updateList(list)" button-text="Update List" list="list" ng-if="list.editing">
        <button class="btn btn-default" ng-click="list.editing = false">Cancel</button>
      </kb-list-form>
    </li>
  </ul>
</div>
